{{> head }}
      <header class="header row">
        <div class="col-12">
          {{> navbar }}
        </div>
        <div class="col-12">
          <h1>Welcome {{ capitalize name }}</h1>
        </div>
      </header>



{{> footer }}